<div class="home-main">
    <!-- <div class="nav" >
        <nav>
            <ul>
                <li id="logo">
                    <img src="https://gadgeon.ae/theme/images/logo-en.png" alt="hurray">
                </li>
                <li>
                    <a href="#/home" >Home</a>
                </li>
                <li>
                    <a href="" >About</a>
                </li>
                <li>
                    <a href="" class="active">Contact</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <div class="contain mx-auto" style="width: 500px; padding-top: 50px;">
        <div class="beach">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  <label for="exampleInputText1" class="form-label">Residence Address</label>
                  <input type="text" class="form-control" id="exampleInputText1" >
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="exampleInputNumber1">
                </div>
                <div class="mb-3 form-check" >
                    <!-- style="margin-left:400px;" -->
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
                <!-- style="margin-left:400px;" -->
              </form>
            </div>
    </div>      
</div>




