ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: azure;
}

li{
    float:left;
}
#logo{
    padding: 5px 33px;
}

li a{
    display:block;
    color:rgb(19, 13, 13);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    padding: 22px;
}
li a:hover{
    background-color: rgb(40, 125, 97);
}

.active{
    background-color: rgb(1, 106, 71);
}
.nav{
    background-color: azure;
}