<div class="home-main">
    <!-- <div class="nav" >
        <nav>
            <ul>
                <li id="logo">
                    <img src="https://gadgeon.ae/theme/images/logo-en.png" alt="hurray">
                </li>
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="" class="active">Services</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <div class="contain">
        <div style="padding:30px;">
            <img src="https://gadgeon.com/web/images/i-01.jpg" alt="" class="rounded float-left" style="padding-right:30px">
            <img src="https://gadgeon.com/web/images/i-02.jpg" alt=" " class="rounded float-right">
            <h2> Medical Equipments</h2><h2></h2>
        </div>
        <div style="padding:30px;">
            <img src="https://gadgeon.com/web/images/i-03.jpg" alt="" class="rounded float-left" style="padding-right:30px">
            <img src="https://gadgeon.com/web/images/i-04.jpg" alt=" " class="rounded float-right">
        </div>
    </div>
</div>
