<div class="home-main">
    <!-- <div class="nav" >
        <nav>
            <ul>
                <li id="logo">
                    <img src="https://gadgeon.ae/theme/images/logo-en.png" alt="hurray">
                </li>
                <li>
                    <a href="#/home" class="active">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <div class="contain">
        <div class="left">
            <!-- <img src="https://gadgeon.com/web/images/i-01.jpg" alt="" > -->
        </div>
        <div  class="mid">
            <!-- <img src="https://gadgeon.com/web/images/i-02.jpg" alt=""> -->
        </div>
        <div class="right">
            <!-- <img src="https://gadgeon.com/web/images/i-04.jpg" alt=" "> -->
        </div>
    </div>
    <div class="info">
        <article>
            <p>
                We do the development and maintenance of custom healthcare applications, including but not limited to
                wearable medical devices, mHealth applications, HIPAA compliant Medical platforms, Interoperability
                solutions, EMR/EHR cloud integration, and embedded medical devices & systems.
            </p>
            <p>
                Creating value through smart connected manufacturing involves establishing ecosystems of connected
                products and services to transform operations, value chains and customer experience. This typically
                means modernizing and extending the digital platform to facilitate collaboration with internal and
                external partners, suppliers, customers and other entities in the ecosystem and automating processes.
                Our Industrial IoT consultancy and Industry 4.0 readiness assessment helps in creating a detailed
                roadmap for your industry 4.0 journey.
            </p>
            <p>
                Gadgeon brings over 250+ man-years of product engineering experience in designing and developing
                end-to-end connected solutions consisting of gateways, sensors, and devices for integration of home &
                building automation use cases. By leveraging our flagship IoT solution development platform-Delpheon,
                we accelerate solution development at a lower cost in the Home & Building automation space. With the
                right focus on data security in the connected home arena, we are on the front line to deliver the most
                appropriate solution that makes any smart home idea a reality.
            </p>
        </article>
    </div>
</div>